.projects-header {
    font-size: 3rem;
    text-align: center;
    justify-content: center;
    display: flex;
    color: #262626;
    text-shadow: 5px 6px #8C8C8C;
    margin-top: 5rem;
}

.row {
    margin: 5px;
}