.nav-container {
    position: fixed;
    padding: 0.8rem;
    background-color: #0D0D0D;
    width: 100%;
    z-index: 1;
}

.nav-btns {
    display: flex;
    gap: 1rem;
}

.nav-btn {
    color: #D9D9D9;
    border-radius: 10px;
    padding: 0.3rem;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    background: none;
    border: none;
    font-size: 20px;
}

.nav-btn:hover {
    background-color: #D9D9D9;
    color: #0D0D0D;
    cursor: pointer;
}

.nav-btn:focus {
    background-color: #D9D9D9;
    color: #0D0D0D;
    cursor: pointer;
}

@media screen and (max-width: 430px) {
    .nav-btns {
        gap: 1rem;
    }

    .nav-btn {
        font-size: 16px;
    }
}

@media screen and (max-width: 350px) {
    .nav-btns {
        gap: 0.5rem;
    }

    .nav-btn {
        font-size: 13px;
    }
}