<div class="nav-container">
    <div class="nav-btns">
        <button class="dm-serif-text-regular nav-btn" (click)="home()" tabindex="1"><span>Home</span></button>
        <button class="dm-serif-text-regular nav-btn" (click)="projects()" tabindex="2"><span>Projects</span></button>
        <button class="dm-serif-text-regular nav-btn" (click)="experience()" tabindex="3"><span>Experience</span></button>
        <button class="dm-serif-text-regular nav-btn" (click)="scrollAboutMe()" tabindex="4"><span>About Me</span></button>
    </div>
</div>