<app-nav-frame />
<div class="container">
    <div class="light-container">
        <h2 class="audiowide-regular experience-header">EXPERIENCE</h2>
        <p class="dm-serif-text-regular">To see more details, check out my CV or my LinkedIn page.</p>
        <div class="experience-list">
            <div class="experience-item">
                <h3 class="dm-serif-text-regular item-title">Web Developer - Iken Business Ltd</h3>
                <p class="dm-serif-text-regular item-desc">July 2021 - Present</p>
            </div>
            <div class="experience-item">
                <h3 class="dm-serif-text-regular item-title">Front End Developer - eArcu</h3>
                <p class="dm-serif-text-regular item-desc">August 2019 - July 2020</p>
            </div>
            <div class="experience-item">
                <h3 class="dm-serif-text-regular item-title">Freelance Web Developer</h3>
                <p class="dm-serif-text-regular item-desc">January 2019 - January 2021</p>
            </div>
            <div class="experience-item">
                <h3 class="dm-serif-text-regular item-title">Infrastructure Engineer - Lumesse Ltd</h3>
                <p class="dm-serif-text-regular item-desc">February 2017</p>
            </div>
            <div class="experience-item">
                <h3 class="dm-serif-text-regular item-title">Customer Service - Barclays Bank</h3>
                <p class="dm-serif-text-regular item-desc">February 2016</p>
            </div>
            <div class="experience-item">
                <h3 class="dm-serif-text-regular item-title">Front End Developer - Lumesse Ltd</h3>
                <p class="dm-serif-text-regular item-desc">June 2014</p>
            </div>
        </div>

        <h2 class="audiowide-regular experience-header">VOLUNTEER WORK</h2>
        <div class="experience-list">
            <div class="experience-item">
                <h3 class="dm-serif-text-regular item-title">IT Champion - St Albans Library</h3>
                <p class="dm-serif-text-regular item-desc">Nov 2016 - Jun 2017</p>
            </div>
            <div class="experience-item">
                <h3 class="dm-serif-text-regular item-title">Club Supervisor - Harpenden Warhammer and Tabletop Games</h3>
                <p class="dm-serif-text-regular item-desc">May 2019 - Dec 2022</p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>